<tr class="document" data-id="<%= document.id %>">
  <td><a href="/documents/<%= document.id %>"><%= document.filename %></a></td>
  <td style="width: 15em"><%= timeago_tag(document.created_at) %></td>
  <td class="state" style="width: 15em"><%= document.state %></td>
  <td class="percentage" style="width: 5em"><%= document.percentage %> %</td>
</tr>

<tr class="tools" data-id="<%= document.id %>">
  <td colspan="2">
    <a class="btn btn-default btn-xs" href="/documents/<%= document.id %>/download">
      <span class="glyphicon glyphicon-download-alt"></span> Descargar
    </a>

    <div class="btn-group">
      <a class="btn btn-default btn-xs" href="/documents/<%= document.id %>/tokens.csv">
        <span class="glyphicon glyphicon-file"></span> Exportar...
      </a>
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="disabled"><a href="#">Texto plano</a></li>
        <li class="divider"></li>
        <li><a href="/documents/<%= document.id %>/tokens.csv">Todas las palabras</a></li>
        <li><a href="/documents/<%= document.id %>/entities.csv">Todas las entidades</a></li>
        <li class="divider"></li>
        <li class="disabled"><a href="#">Personas</a></li>
        <li class="disabled"><a href="#">Lugares</a></li>
        <li class="disabled"><a href="#">Organizaciones</a></li>
        <li class="disabled"><a href="#">Fechas</a></li>
      </ul>
    </div>

    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-stats"></span> Visualizar <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/documents/<%= document.id %>/wordcloud">Wordcloud</a></li>
      </ul>
    </div>
  </td>

  <td colspan="2">
    <div class="progress <%= document.percentage < 100 ? '' : 'hidden' %>">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= document.percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= document.percentage %>%;">
      </div>
    </div>
  </td>
</tr>
