<div class="container">
  <div class="row">
    <h3>Proyecto: <%= @project.name %></h3>
    <% if @project.documents_dataset.count > 0 %>
    <table class="table table-condensed">
      <thead>
        <td>Nombre de archivo</td>
        <td>Creado en</td>
        <td>Estado</td>
        <td>Progreso</td>
      </thead>
      <tbody>
        <% @project.documents.each do |document| %>
          <tr>
            <td>
              <a href="/documents/<%= document.id %>"><%= document.filename %></a><br />

              <a class="btn btn-default btn-xs" href="/documents/<%= document.id %>/download">
                <span class="glyphicon glyphicon-download-alt"></span> Descargar
              </a>

              <div class="btn-group">
                <a class="btn btn-default btn-xs" href="/documents/<%= document.id %>/tokens.csv">
                  <span class="glyphicon glyphicon-file"></span> Exportar...
                </a>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="disabled"><a href="#">Texto plano</a></li>
                  <li class="divider"></li>
                  <li><a href="/documents/<%= document.id %>/tokens.csv">Todas las palabras</a></li>
                  <li><a href="/documents/<%= document.id %>/entities.csv">Todas las entidades</a></li>
                  <li class="divider"></li>
                  <li class="disabled"><a href="#">Personas</a></li>
                  <li class="disabled"><a href="#">Lugares</a></li>
                  <li class="disabled"><a href="#">Organizaciones</a></li>
                  <li class="disabled"><a href="#">Fechas</a></li>
                </ul>
              </div>

              <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-stats"></span> Visualizar <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/documents/<%= document.id %>/wordcloud">Wordcloud</a></li>
                </ul>
              </div>
            </td>
            <td style="width: 15em"><%= timeago_tag(document.created_at) %></td>
            <td style="width: 15em"><%= document.state %></td>
            <td style="width: 5em"><%= document.percentage %> %</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="alert alert-info">No hay documentos cargados aún.</div>
    <% end %>
  </div>
</div>
